:root {
  --primary: #16bcc8;
  --minimal: #939393;
  --light: #EEEEEE;
  --classic: #505050;
  --secondary: #FF8E2E;
}

html { 
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--minimal);
  height: 100%;
  overflow: scroll;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

button {
  text-align: center;
  font-size: 1em;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
  margin-top: 0;
  text-align: left;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container-center {
  margin: auto;
}

h1 {
  font-size: 4em;
  font-weight: 400;
}

h2 {
  font-size: 3em;
  font-weight: 300;
}

h3 {
  font-size: 2em;
  font-weight: 300;
}

h4 {
  font-size: 1.25em;
  font-weight: 300;
}

h5 {
  font-weight: 300;
}

.row {
  width: 100%;
  margin: 0 auto;
  padding: 0 1em;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 4em;  
  grid-template-rows: 1fr;
}

/* App Layout */
.app-container {
  display: flex;
  flex-direction: column;
  margin: 4em;
  margin-left: 15%;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.main-heading {
  width: 308px;
  color: var(--minimal);
}

/* Main Layout */
.temp-container {
  display: grid;
  grid-template: "title status"
                 "temp"
                 "buttons";
  justify-content: center;
  margin-top: 2em;  
}

/* Indoor Temp */
.title {
  color: var(--minimal);
  grid-area: title;
  display: inline;
}

.status {
  padding-left: 3em;
  grid-area: status;
  display: inline;
  color: var(--secondary);
}

.indoor-temp {
  margin-top: 1.25em;
  display: flex;
  flex-direction: row;
  text-align: left;
  grid-area: temp;
}

.indoor-temp > * {
  margin-left: auto;
  margin-right: auto;
}

.start-temp {
  margin: 11px 0;
  color: var(--classic);
}

.square {
  padding-left: 8px;
  font-size: 2em;
  color: var(--minimal);
}

.square sub {
  font-size: .5em;
}

.temp-buttons {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
}

/* Humidity */
.humidity {
  color: var(--minimal);
  display: grid;
  grid-auto-flow: column;
  grid-gap: 4%;
  justify-content: start;
  align-self: center;

  line-height: 3em;
  text-align: center;
}

.sub-text {
  font-weight: 400;
}

/* Thermostat Switches */
.switches {
  margin-top: 1.25em;
  grid-area: buttons;
  color: var(--minimal);
}

.switches > *:not(:first-child) {
  padding-left: 2em;
} 

.inline-switches {
  display: inline-block;
}

/* Bar Chart */
.barchart-container {
  width: 75%;
  margin-top: 8em;
  padding: 4em 0;
  border-radius: 8px;
  box-shadow: 0 0 12px var(--light);
}

.barchart {
  max-width: 80%;
  margin: 0 auto;
}

/* Secondary Stats */
.secondary-stats{
  margin-top: auto;
}

.secondary-stats > * {
  padding-left: 10%;
}

.stats-display {
  padding: 1em 0;
  padding-left: 10%;
  border-left: 1px solid var(--primary);
}

.stats-display > * {
  padding: 1em 0;
}

/* Side Nav Dummy */
.sidenav {
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: calc(4em - 6px);
  border-right: 1px solid var(--primary);
}

.sidenav ul {
  margin: 0 auto;
}

.sidenav ul li {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 1em;
  color: var(--minimal);
  display: block;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .app-container {
    margin: 50% auto;
  }

  .sidenav, .secondary-stats, .barchart-container {
    display: none;
  }
}