:root {
  --primary: #16bcc8;
  --minimal: #BCBCBC;
  --light: #EEEEEE;

  --classic: #505050;
}

body > #root > div {
  height: 100vh;
}

html {
  overflow: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #505050;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

button {
  text-align: center;
  font-size: 1em;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
  margin-top: 0;
  text-align: left;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container-center {
  margin: auto;
}

h1 {
  font-size: 4em;
  font-weight: 400;
}

h2 {
  font-size: 3em;
  font-weight: 300;
}

h3 {
  font-size: 2em;
  font-weight: 300;
}

h4 {
  font-size: 1.25em;
  font-weight: 300;
}

h5 {
  font-weight: 300;
}

/* App Layout */
.app-container {
  /* display: flex;
  justify-content: center;
  align-items: center; */

  position: relative
}

.main-container {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 45%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-55%);
  -webkit-transform: translateX(-50%) translateY(-55%);
  transform: translateX(-55%) translateY(-55%);
}

.main-heading {
  margin: 0 auto;
}

/* Main Layout */
.temp-container {
  display: grid;
  grid-template: "title status"
                 "temp"
                 "buttons";
  justify-content: center;
  margin-top: 2em;  
}

/* Indoor Temp */
.title {
  color: var(--minimal);
  grid-area: title;
  display: inline;
}

.status {
  padding-left: 3em;
  grid-area: status;
  display: inline;
}

.indoor-temp {
  margin-top: 1.25em;
  display: flex;
  flex-direction: row;
  text-align: left;
  grid-area: temp;
}

.indoor-temp > * {
  margin-left: auto;
  margin-right: auto;
}

.start-temp {
  margin: 11px 0;
  color: var(--classic);
}

.square {
  padding-left: 8px;
  font-size: 2em;
  color: var(--minimal);
}

.square sub {
  font-size: .5em;
}

.temp-buttons {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
}

/* Humidity */
.humidity {
  color: var(--minimal);
}

/* Thermostat Switches */
.switches {
  margin-top: 1.25em;
  grid-area: buttons;
}
.switches > *:not(:first-child) {
  padding-left: 2em;
} 

.inline-switches {
  display: inline-block;
}

