:root {
  --primary: #16bcc8;
  --minimal: #BCBCBC;
  --light: #EEEEEE;
}

body > #root > div {
  height: 100vh;
}

html {
  overflow: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #505050;
  background-color: var(--light);
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

button {
  text-align: center;
  font-size: 1em;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container-center {
  margin: auto;
  text-align: center;
}

.sub-text {
  color: var(--minimal);
}

h1 {
  text-align: center;
  font-size: 4em;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 3em;
  font-weight: 300;
}

h3 {
  text-align: center;
  font-size: 2em;
  font-weight: 300;
}

h4 {
  text-align: center;
  font-size: 1em;
  font-weight: 300;
}


/* Boxes Layout */
.boxes-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100%;
}

.boxes {
  border: 2px solid var(--light);
  text-align: center;
  position: relative;
  border-radius: 4px;
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.filler {
  background-color: var(--primary);
}

/* Indoor Temp */
.startTemp {
  margin-top: 0;
}

.square {
  padding: 11px 8px;
  border: 1px solid var(--minimal);
}

/* Humidity */
.humidity {
  color: var(--minimal);
}

/* Thermostat Switches */
.switches {
}

